In [1]:
a=7
print(a)

7

In [3]:
a=90
b=98
c=a+b
print(c)

188

In [1]:
a=int(input("enter a"))
b=int(input("enter b"))
c=a+b
print("Sum = ",c)
d=a-b
print("Subtract =",d)
e=a/b;
print("Divide =",e)
f=a*b
print("Multiply = ",f)
g=a%b
print("Modulus =",g)
v=a**b
print("v =",v)
n=a//b
print("N =",n)

enter a 78
enter b 32

Sum =  110
Subtract = 46
Divide = 2.4375
Multiply =  2496
Modulus = 14
v = 3523930106911441207311751998440200699479408173742614711894016
N = 2

In [2]:
a=5;
b=2;
a+=5;
print(a)
a-=3;
print(a)
b*=5;
print(b)
b/=9
print(b)

10
7
10
1.1111111111111112

In [4]:
a=20
b=10
c=10
d=20
print(a>b)
print(a<b)
print(a>=b)
print(b<=c)
print(d!=a)
print(c!=a)

True
False
True
True
False
True

In [8]:
a=20
b=10
if(a>18 and a>b):
    print("A is bigger than b and adult")
else:
    print("Not")

A is bigger than b and adult

In [9]:
a=20
b=10
if(a>18 and a>b):
    print("A is bigger than b and adult")
else:
    print("Not")

Anybody

In [15]:
a=20
b=10
if not(a>18 and a>b):
    print("A is bigger than b and adult")
else:
    print("Not")

Not

In [19]:
name="kunal sharma"
print("kunal" in name)
print("sharma" not in name)

True
False

In [26]:
a=20
b=15
print(a & b)
print(a | b)
print(~a)

4
31
-21

In [29]:
name="kunal sharma"
print("kunal sharma" is name)
print("kunal sharma" is not name)

False
True

<>:3: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
C:\Users\DELL\AppData\Local\Temp\ipykernel_7816\2616143936.py:3: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
  print("kunal sharma" is not name)

In [1]:
# explicit
x=10
y=float(x)
print(type(y))

<class 'float'>

In [2]:
x=10
y=10.5
print(x+y)

20.5

In [4]:
# Calculator
name="Milk"
quantity=int(input("Enter quantity"))
price=float(input("Enter price"))
bill=quantity*price
print("Total bill=",bill)

Enter quantity 6
Enter price 56.27

Total bill= 337.62

In [5]:
a=10
if a>15:
    print("hello")

In [6]:
a=10
if a<15:
    print("hello")
else:
    print("hlo")

hello

In [5]:
month = input("Enter month: ")

if month in ("march", "april", "may", "june"):
    print("Summer")
elif month in ("july", "august", "september", "october"):
    print("Rainy")
else:
    print("Winter")

Enter month:  december

Winter

In [6]:
n="87"
b=int(n)
print(b)

87

In [7]:
t="tani"
n=int(t)
print(n)

ValueError: invalid literal for int() with base 10: 'tani'

In [8]:
a=4
b=4
print(a is b)

True

In [10]:
vehicle=input("Enter Vehicle type")
if(vehicle=="car"):
    print("15 years")
elif(vehicle=="bike"):
    print("15 years")
else:
    print("10 years")

Enter Vehicle type car

15 years

In [6]:
a=int(input("Enter number"))
if (a>0):
      print("positive")
elif a==0:
      print("zero")
else:
      print("negative")

Enter number 3

positive

In [8]:

age=int(input("Enter age"))
if(age<13):
    print("Child")
elif(age<18):
    print("Teen")
else:
    print("Adult")

Enter age 13

Teen

In [9]:
n = int(input("Enter a number: "))
if n % 2 == 0:
    if n > 10:
        print("The number is even and greater than 10")
    else:
        print("The number is even but not greater than 10")
else:
    print("The number is not even")

Enter a number:  56

The number is even and greater than 10

In [10]:

marks=int(input("Enter marks"))
if(marks>90):
    print("Grade A")
elif(marks>75):
    print("Grade B")
elif(marks>60):
    print("Grade C")
else:
    print("Fail")

Enter marks 89

Grade B

In [1]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if (a > b):
    if (a > c):
        print(a, "is the greatest")
    else:
        print(c, "is the greatest")
else:
    if (b > c):
        print(b, "is the greatest")
    else:
        print(c, "is the greatest")

Enter first number:  3
Enter second number:  4
Enter third number:  6

6 is the greatest

In [3]:
i=2;
n=1;
while(n<=10):
    print(f"{i} X {n}=n*i)
    n+=1

2
4
6
8
10
12
14
16
18
20

In [1]:
print("Day 3")

Day 3

In [3]:
# while loop
while(1):
    a=input("Enter word")
    print("if you enter q then exit the loop")
    if(a=="q"):
        print("existed loop")
        break
    else:
        print("your enter",a)

Enter word r

if you enter q then exit the loop
your enter r

Enter word w

if you enter q then exit the loop
your enter w

Enter word a

if you enter q then exit the loop
your enter a

Enter word f

if you enter q then exit the loop
your enter f

Enter word q

if you enter q then exit the loop
existed loop

In [8]:
pas = 12
count = 0
tr=3
while True:
    enter = int(input("Enter password: "))
    count += 1
    tr-=1
    if enter == pas:
        print("Successful")
        break
    elif count == 3:
        print("Locked")
        break
    else:
        print("try left",tr)
        print("Enter again")

Enter password:  76

try left 2
Enter again

Enter password:  34

try left 1
Enter again

Enter password:  23

Locked

In [1]:
num = 1
while num <= 100:
    if num % 7 == 0:
        print(num, "divided by 7")
    num += 1

7 divided by 7
14 divided by 7
21 divided by 7
28 divided by 7
35 divided by 7
42 divided by 7
49 divided by 7
56 divided by 7
63 divided by 7
70 divided by 7
77 divided by 7
84 divided by 7
91 divided by 7
98 divided by 7

In [3]:
pas = 12 

for tr in range(3, 0, -1):
    enter = int(input("Enter password: "))
    if enter == pas:
        print("Successful")
        break
    elif tr == 1:
        print("Locked")
    else:
        print("Try left:", tr - 1)
        print("Enter again")

Enter password:  43

Try left: 2
Enter again

Enter password:  23

Try left: 1
Enter again

Enter password:  76

Locked

In [6]:
for i in range(1,6):
    if i==3:
        continue
    print(i)

1
2
4
5

In [7]:
for i in range(1,10):
    if i==5:
        continue
    if i==8:
        break
    print(i)

1
2
3
4
6
7

In [10]:
pas = "ab12"
count = 0
tr=3
while True:
    enter = (input("Enter password: "))
    count += 1
    tr-=1
    if(enter=="forget"):
        continue
    if enter == pas:
        print("Successful")
        break
    elif count == 3:
        print("Locked")
        break
    else:
        print("try left",tr)
        print("Enter again")

Enter password:  ab

try left 2
Enter again

Enter password:  forget
Enter password:  f7

Locked

IndentationError: expected an indented block after 'if' statement on line 3 (2932719318.py, line 4)

In [18]:
name = "python programming"
for i in name:
    if i == "o":
        continue
    elif i == "n":
        break
    else:
        print(i)

p
y
t
h

In [19]:
def fun():
    print("hello function")
fun()

hello function

In [20]:
def add(a,b):
    print("sum = ",a+b)
add(4,7)

sum =  11

In [23]:
def k(b):
    m=b[::-1]
    print(m)
k("kunal")

lanuk

In [1]:
# Test 1
print(3+2*2)

7

In [2]:
print(4 != 5)

True

In [3]:
print(5 > 3 and 2 < 1)

False

In [4]:
print(10 / 5)

2.0

In [5]:
print(3**2)

9

In [6]:
print(type(5))

<class 'int'>

In [7]:
if 5 < 10: print('OK')

OK

In [8]:
x: print('Hello') where x=0

SyntaxError: invalid syntax (3531009105.py, line 1)

In [9]:
if x=5; 
elif x==6:

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (439693588.py, line 1)

In [10]:
print(3 > 2 and 2 < 5)

True

In [11]:
while False:
    print('Hi')

In [12]:
for x in [1,2,3]: 
    print(x)

1
2
3

In [13]:
print("Hello,World!")

Hello,World!

In [14]:
a=int(input("enter a"))
b=int(input("enter b"))
c=a+b
print("Sum = ",c)

enter a 45
enter b 32

Sum =  77

In [20]:
n = int(input("Enter a number: "))
if n % 2 == 0:
        print("The number is even")
else:
        print("The number is odd")

Enter a number:  5

The number is odd

In [24]:
a=int(input("Enter a"))
b=int(input("Enter b"))
if (a>b):
    print("A is bigger than b")
else:
    print("B is greater than a")

Enter a 6
Enter b 2

A is bigger than b

In [25]:
a=int(input("Enter number"))
if (a>=0):
      print("positive")
else:
      print("negative")

Enter number 32

positive

In [26]:
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [27]:
n = int(input("Enter a number: "))
if n < 0:
    print("Factorial does not exist for negative numbers.")
elif n == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    print(f"Factorial of {n} is {factorial}.")

Enter a number:  5

Factorial of 5 is 120.

In [30]:
n = int(input("Enter a number: "))
r = 0
while n != 0:
    d = n % 10
    r = r * 10 + digit
    n //= 10
print("Reversed number:", r)

Enter a number:  8990

NameError: name 'digit' is not defined

In [34]:
num = int(input("Enter a number: "))
rev = 0
while (num != 0):
    digit = (num % 10)
    rev = (rev * 10 + digit)
    (num //= 10)
print("Reversed number:", rev)

Enter a number:  46

Reversed number: 64

In [35]:
num = int(input("Enter a number: "))
is_prime = True

if num <= 1:
    is_prime = False
else:
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

print(f"{num} is {'prime' if is_prime else 'not prime'}")

SyntaxError: invalid non-printable character U+00A0 (888216256.py, line 12)

In [36]:
string = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for char in string:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Enter a string:  kunal

NameError: name 'vowels' is not defined

In [38]:
str1 = input("Enter a string: ")
vow = "aeiouAEIOU"
count = 0

for char in str1:
    if char in vow:
        count += 1

print("Number of vowels:", count)

Enter a string:  kunalcrj

Number of vowels: 2

In [41]:
i=2;
n=1;
while(n<=10):
    print(f"{i} X {n}={n*i}")
    n+=1

2 X 1=2
2 X 2=4
2 X 3=6
2 X 4=8
2 X 5=10
2 X 6=12
2 X 7=14
2 X 8=16
2 X 9=18
2 X 10=20

In [46]:
num=int(input("Enter a number: "))

if num<=1:
    print("Not a prime number")
else:
    for i in range(2, num):
        if num%i==0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Enter a number:  11

Prime number

Enter number of terms:  3

0
1
1

In [50]:
n=int(input("Enter number of term"))
a=0
b=1
count=0
while count<n:
    print(a)
    c=a+b
    a=b
    b=c
    count+=1

Enter number of term 89

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931

In [52]:
num=[1, 2, 3, 4, 5]
total=0

for number in numb:
    total += number

print("Sum of all elements:", total)

NameError: name 'numb' is not defined

In [55]:
num=[1, 2, 3, 4, 5]
total=0

for num1 in num:
    total+=num1

print("Sum of all elements:", total)

Sum of all elements: 15

In [57]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [2]:
print("Day 4")

Day 4

In [3]:
def simple(p,r,t):
    cal=(p*r*t)/100
    print("simple interst=",cal)

pi=30000
ri=12
ti=3
simple(pi,ri,ti)

simple interst= 10800.0

In [5]:

def sum():
    i=1
    sum1=0
    while i<=50:
        sum1+=i
        i+=1
    print(sum1)
    
sum()

1275

In [9]:
def table():
    n=int(input("Enter number"))
    for i in range(1,11):
        print(n*i)

table()

Enter number 2

2
4
6
8
10
12
14
16
18
20

In [10]:
def odd():
    sum=0
    for i in range(1,51):
        if(i%2!=0):
            sum+=i

    print(sum)
odd()

625

In [2]:
def add():
    a=10
    b=56
    c=a+b
    return c
add()

66

In [4]:
add=lambda a,b:a+b
print(add(12,4))

16

In [18]:
def add():
    a=10
    b=20
    print(a+b)
    def add1():
        d=10
        f=23
        print(d+f)
    add1()

add()

30
33

In [19]:
def reverse(s):
    return s[::-1]

i = "hello"
rev = reverse(i)
print(rev)

olleh

In [20]:
s=input("enter string")

enter string kunal

In [1]:
def sq(n):
    m=n*n
    return m

n=int(input("Enter n"))
sq(n)

Enter n 6

36

In [2]:
def add(a,b):
    c=a+b
    return c
add(10,20)

30

In [4]:
n=int(input("Enter number"))
def check(n):
    if(n%2==0):
        print("Number is even")
    else:
        print("Number is odd")
check(n)

Enter number 5

Number is odd

In [6]:
n=int(input("Enter number"))
def fact(n):
    if n==1:
        return 1
    return n*fact(n-1)

fact(n)

Enter number 5

120

In [7]:
def largest(nums):
    if not nums:
        return None
    largest = nums[0]
    for num in nums:
        if num > largest:
            largest = num 
    return largest


la = [5, 2, 9, 1, 7]
result = largest(la)
print("Largest number is:", result)

Largest number is: 9

In [10]:
def fib(n):
    se = []
    a, b = 0, 1
    for _ in range(n):
        se.append(a)
        a, b = b, a + b
    return se

n = int(input("Enter n: "))
print(fib(n))

Enter n:  4

[0, 1, 1, 2]

In [11]:
def fib(n):
    a, b = 0, 1
    se = []
    while n > 0:
        se.append(a)
        a, b = b, a + b
        n -= 1
    return se

n = int(input("Enter n: "))
print(fib(n))

Enter n:  5

[0, 1, 1, 2, 3]

In [26]:
def fib(n):
    a=0
    b=1
    se=[]
    while n>0:
        a,b=b,a+b
        n-=1
    return se
n=int(input("Enter n"))
print(fib(n))

Enter n 5

[]

In [13]:
def lag(num):
    if not num:
        return None
    lag=num[0]
    for n in num:
        if n>lag:
            lag=num
    return lar

la=[5,2,7,5,9,3,0]
result=lag(la)
print("Largest number =",result)

Largest number is: 9

In [18]:
def lag(num):
    if not num:
        return None
    lag=num[0]
    for n in num:
        if n>lag:
            lag=num
    return lar

la=[5,2,7,5,9,3,0]
result=lag(la)
print("Largest number =",result)

TypeError: '>' not supported between instances of 'int' and 'list'

In [19]:
def lag(num):
    if not num:
        return None
    lag=num[0]
    for n in num:
        if n>lag:
            lag=num
    return lar

la=[5,2,7,5,9,3,0]
result=lag(la)
print("Largest number =",result)

TypeError: '>' not supported between instances of 'int' and 'list'

In [20]:
def lag(num):
    if not num:
        return None
    lag=num[0]
    for n in num:
        if n>lag:
            lag=num
    return lar

la=[5,2,7,5,9,3,0]
result=lag(la)
print("Largest number =",result)

TypeError: '>' not supported between instances of 'int' and 'list'

In [22]:
def lar(num):
    if not num:
        return None
    largest=num[0]
    for n in num:
        if n>lar:
            lar=n 
    return lar


la = [5, 2, 9, 1, 7]
result = lar(la)
print("Largest number is:", result)

UnboundLocalError: cannot access local variable 'lar' where it is not associated with a value

In [23]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

In [25]:
def count(s):
    vowel="aeiouAEIOU"
    count=0
    for i in s:
        if i in vowel:
            count+=1
    return count

name="kunal sharma"
count(name)

4

In [27]:
def sum_all(*args):
    return sum(args)

In [28]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=' ')
        a, b = b, a + b

# Example usage:
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [33]:
def fibo(n):
    a=0
    b=1
    for _ in range(n):
        print(a,)
        a,b=b,a+b


m=int(input("Enter number"))
fibo(m)

Enter number 10

0
1
1
2
3
5
8
13
21
34

In [34]:
def palindrome(name):
    char=""
    for i in range(len(name)-1,-1,-1) :
        char += name[i]
    if name == char:
        print("Palindrome")
    else:
        print("Not a Palindrome")


palindrome(""kunal sharma")
palindrome("Hello")

Palindrome
Not a Palindrome

In [35]:
def largest(l1):
    max = l1[0]
    for i in l1:
        if max < i:
            max = i
    return max

print(largest([1,2,3,4,5, 2000, 100]))

SyntaxError: invalid non-printable character U+00A0 (2993906817.py, line 8)

In [37]:
def lar(l1):
    max1=l1[0]
    for i in l1:
        if max1<i:
            max1=i
    return max1

print(largest([1, 2, 3, 4, 5, 2000, 100]))

2000

In [39]:
def sum(*args):
    count=0
    for i in args:
        count+=i
    return count
print(f"sum of number of args is {sum(10,20)}")

sum of number of args is 30

In [2]:
sq=lambda a:a*a
b=sq(4)
print(b)

16

In [3]:
def avg(a,b):
    c=(a+b)/2
    print("Average =",c)

avg(10,20)

Average = 15.0

In [1]:
print("Day 5")

Day 5

In [30]:
lst=[1,4,2,8,7]
lst.append(1)
print(lst)
lst.insert(2,0)
print(lst)
lst.sort()
print(lst)

[1, 4, 2, 8, 7, 1]
[1, 4, 0, 2, 8, 7, 1]
[0, 1, 1, 2, 4, 7, 8]

In [16]:
ar=[1,6,9,3,5]
ar.pop()
print(ar)
ar.remove(3)
print(ar)
ar.clear()
print(ar)
ar.insert(0,"kunal")
ar.insert(1,2)
print(ar)

[1, 6, 9, 3]
[1, 6, 9]
[]
['kunal', 2]

In [35]:
arr=[1,2,3,4]
arr.extend(["kunal",23])
print(arr)
arr.pop()
print(arr)
print(type(arr))
arr.index(2)
arr.count(2)
arr.reverse()
print(arr)
b=arr.copy()
print(b)

[1, 2, 3, 4, 'kunal', 23]
[1, 2, 3, 4, 'kunal']
<class 'list'>
['kunal', 4, 3, 2, 1]
['kunal', 4, 3, 2, 1]

In [42]:
emp=[]
print(emp)
for i in range(1,6,1):
    n=int(input("Enter number"))
    emp.append(n)

print(emp)

[]

Enter number 4
Enter number 5
Enter number 3
Enter number 1
Enter number 7

[4, 5, 3, 1, 7]

In [44]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [45]:
list1=[10,20,30,40]
list1.insert(2,25)
print(list1)

[10, 20, 25, 30, 40]

In [46]:
list1=[10,20,30,20,40]
list1.remove(20)
print(list1)

[10, 30, 20, 40]

In [48]:
list1=[1,2,3,4,5]
a=list1.pop()
print(list1)
print(a)

[1, 2, 3, 4]
5

In [53]:
list1=[5,10,15,20,25]
list1.index(15)

2

In [54]:
list1=[1,2,2,3,2,4,2]
list1.count(2)

4

In [58]:
list1=[10,5,7,3]
list1.sort()
print(list1)
list1.sort(reverse="true")
print(list1)

[3, 5, 7, 10]
[10, 7, 5, 3]

In [59]:
list1=[1,2,3,4,5]
list1.reverse()
print(list1)

[5, 4, 3, 2, 1]

In [60]:
list1=[1,2,3,4,5]
list2=list1.copy()
print(list2)

[1, 2, 3, 4, 5]